<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sil1.autolibdz_rental">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".data.room.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutolibDZrental"

        >
        <activity android:name=".ui.view.activity.validation.ValidationResActivity"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar"
            />
        <activity android:name=".ui.view.activity.validation.ValidationReadyActivity"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar"
            />

        <activity
            android:name=".ui.view.activity.validation.ValidationActivity"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar">
        </activity>


        <activity
            android:name=".ui.view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar"></activity>
        <activity
            android:name=".ui.view.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar"></activity>

        <activity
            android:name=".ui.view.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar"></activity>


        <activity
            android:name=".ui.view.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AutolibDZrental.NoActionBar" > <!-- <intent-filter> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBBARZjOQEBFPDxIYDCyJeEGb-GOZSs_Q" />


        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://417846431126524:VI0hz_4ir15jp-Slkb_heb44-LI@dkwni6a1d"/>



    </application>

</manifest>